.table{
    border: 1px solid black;
    margin-top: 40px;
    background-color: white;
    overflow-x:auto!important;
}
.tables tbody td{
    border: 1px solid black;
}
.eye{
    width: 15px;
    height: 15px;
}